# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Optional memory file (if you don't want to track it)
chat_memory.json

# Build / dist
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/*.pdf 
